<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Construcción de pastel</title>
  </head>
  <body>
    
    <h1>Construye tu pastel</h1>

    <!--checkbox para elegir los sabores del pastel-->
    <p>Escoge un sabor</p>

    <input type="checkbox" name="sabor" id="sabor" value="chocolate" />
    <label for="sabor">Chocolate</label>

    <input type="checkbox" name="sabor" id="sabor" value="Mango" />
    <label for="sabor">Mango</label>

    <p>Escoge las decoraciones</p>
    <!--checkbox para elegir las decoraciones de tu pastel-->

    <input type="checkbox" name="decoracion" id="decoracion" value="Mango" />
    <label for="decoracion">Betún</label>

    <input type="checkbox" name="decoracion" id="decoracion" value="Mango" />
    <label for="decoracion">Glaseado</label>

    <input type="checkbox" name="decoracion" id="decoracion" value="Mango" />
    <label for="decoracion">Frutas</label>

    <input type="checkbox" name="decoracion" id="decoracion" value="Mango" />
    <label for="decoracion">Leyendas de pastel </label>

    <br />
    <!--botón para regresar a home una vez finalizado el pedido-->
    <a href="./index.html">
      <input type="button" value="Finalizar" />
    </a>
  </body>
</html>
