<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pedidos</title>
  </head>
  <body>
    <h1>Formulario de pedido</h1>
    <form action="pedido.js">
      <!--input de nombre-->
      <label for="nombre">Nombre</label><br />
      <input
        type="text"
        id="nombre"
        name="nombre"
        placeholder="Tu nombre"
      /><br />
          <!--input de numero-->
      <label for="numero">Telefono</label><br />
      <input
        type="number"
        id="numero"
        name="numero"
        placeholder="Tu numero"
      /><br />

          <!--input de correo-->
      <label for="correo">Correo Electronico</label><br />
      <input type="email" id="correo" name="correo" placeholder="Tu correo" />
    </form>
    <!--Botón para ir a crear un pastel -->
    <a href="./pastel.html">
        <input type="button" value="Siguiente">
    </a>
  </body>
</html>
