<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pedidos</title>
  </head>

  <body>

    <h1>Información del pedido</h1>

    <!--tabla con los datos del cliente-->
    <h2>Nombre del cliente: Aldo</h2>
    <dl>
      <dt>Numero de Telefono:2222222222</dt>
      <dt>Correo: correo@gmail.com</dt>
      <dt>
        Descripción: <br />
        Un pastel de mago con limon con Betún
      </dt>
    </dl>

    <!--tabla con los datos del pastel-->
    <h1>Características del pastel</h1>
    <table>
      <tr>
        <th>Cantidad</th>
        <th>Sabor de pastel</th>
        <th>Adornos</th>
        <th>Precio</th>
      </tr>
      <tr>
        <td>1</td>
        <td>Mango,limon</td>
        <td>Betún</td>
        <td>320 $</td>
      </tr>
    </table>

    <!--tabla con los datos del Inventario-->
    <h2>Inventario</h2>
    <ul>
      <li>Mango</li>
      <li>Betun</li>
      <li>Azucar glass</li>
    </ul>

    <!--boton para regresar a home-->
    <a href="./index.html">
      <input type="button" value="Regresar a Home" />
    </a>
  </body>
</html>
