:root{
    --text: #4A301C;
    --background:#EBDACC;
    
}

*{
    margin: 0;
    padding: 0;
    background-color: var(--background);

}
/*
===================nav====================
*/

.nav-bar{
    height: 240px;
    width: auto;
}
.search-box{
    padding: 10px 10px;
    width: 270px;
    background-color: var(--text);
    border-radius: 40px;
}
.search-text{
    background-color: var(--text);
    width: 240px;
    height: 30px;
    margin-right: 10px;
    border: 0;

}
.svg{
    background-color: var(--text);
    margin-top: 5px;
    float: right;
}

.nav-seccions{

}